test*
/etwitt
/ebird
out.*
/try/
*.eet
mkid*
*.edj
*.lo
*.o
/.secret
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/src/Makefile
/src/Makefile.in
/src/bin/.deps/
/src/bin/etwitt
/src/bin/ebird
/src/bin/Makefile
/src/bin/Makefile.in
/src/lib/.deps/
/src/lib/ebird
/src/lib/Makefile
/src/lib/Makefile.in
/stamp-h1
/compile
/data/Makefile
/data/Makefile.in
/data/theme/Makefile
/data/theme/Makefile.in
